name: CI
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - master
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "pypy-3.6-v7.3.3"
          - "3.10"
          - "3.9"
          - "3.8"
          - "3.7"
          - "3.6"
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: "${{ matrix.os }} Python: ${{ matrix.python-version }}"
    steps:
      - name: Setup Python for tox
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install tox
        run: python -m pip install tox
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }} for test
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup test suite
        run: tox -vv --notest
      - name: Run tests with tox
        run: tox -e py --skip-pkg-install
      - name: Create Coveralls coverage report
        uses: miurahr/coveralls-python-action@patch-pyprject-toml
        with:
          base-path: .tox
          debug: true
          parallel: true

  upload_coveralls:
    name: Upload Results to Coveralls
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Upload coverage report to Coveralls
        uses: miurahr/coveralls-python-action@patch-pyprject-toml
        with:
          base-path: .tox
          debug: true
          parallel-finished: true
