name: Execute Test Suite
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "pypy3.9"
          - "3.14"
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: "${{ matrix.os }} Python: ${{ matrix.python-version }}"
    steps:
      - name: Setup Python for tox
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install tox
        run: python -m pip install tox tox-gh-actions
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }} for test
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup test suite
        run: tox -vv --notest
      - name: Run tests with tox
        run: tox -e py --skip-pkg-install
