name: Lint
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    name: "Run linters on code base"
    steps:
      - name: Setup Python for linting
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install tox
        run: python -m pip install tox tox-gh-actions
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Lint code base
        run: tox -e style
