name: Issue Open Workflow

on:
  issues:
    types: [opened, edited]

jobs:
  label_issue_backlog:
    runs-on: ubuntu-latest
    steps:
      - name: Add fresh new label
        uses: andymckay/labeler@master
        with:
          add-labels: "fresh"
